@model MVCTest.Models.TestClass

@{
    ViewBag.Title = "InfoView";
    ViewBag.Footer = "Info";
}

<h2>InfoView</h2>

<body>
    <div>
        First Name:  @Model.FirstName
        <br/>
        Last Name:   @Model.LastName
        <br/>
        Age:         @Model.Age

        
    </div>
</body>